*.svg
*.png
*.py~

*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class

NeuroML2/*.mod
NeuroML2/*.hoc
NeuroML2/*.dat
NeuroML2/*nrn.py
NeuroML2/*geppetto.*
*.gv
